---
export const prerender = false;
import BaseLayout from '@layouts/BaseLayout.astro';
import { getCollection, render } from 'astro:content';
import { Image } from 'astro:assets';
import { readingTime } from '@lib/utils';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { slug } = Astro.params;
// console.log(slug);
const { post } = Astro.props;
// console.log(post.body);

const time = post.body && readingTime(post.body);

const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/images/*.{jpg,jpeg,png,webp,avif,svg,gif}'
);
// console.log(images);
// console.log(post.data.thumbnail);

const imageUrl = post.data.thumbnail.startsWith('http')
  ? post.data.thumbnail
  : images[post.data.thumbnail]();
// console.log(imageUrl);

// console.log(post);
const { Content } = await render(post);
---

<BaseLayout seoTitle={post.data.title}>
  <h1>{post.data.title}</h1>
  <p class="readingTime">
    {time && `Reading time: ${time} minute${time > 1 ? 's' : ''}`}
  </p>
  <section>
    <div class="image">
      <Image src={imageUrl} width={400} alt={post.data.title} />
    </div>
    <article class="content">
      <Content />
    </article>
  </section>

  <style>
    section {
      padding: 0;
    }
    .image {
      width: 100%;
      max-width: 450px;
      margin: 0 auto 40px;
      padding: 0;
      img {
        border-radius: 0;
        @media screen and (min-width: 40rem) {
          border-radius: 10px;
        }
      }
    }
    h1 {
      margin-bottom: 0;
    }
    .readingTime {
      text-align: center;
      font-size: 0.8rem;
      color: #999;
      margin-bottom: 30px;
    }
    .content {
      max-width: 70ch;
      margin: 0 auto 40px;
      padding: 0 10px;
    }
  </style>
</BaseLayout>
