---
import Time from '../../components/Time.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);

function createExcerpt(post: any) {
  const firstParagraph = post.body.match(/^\w+[\w\W]+/m)[0];
  // console.log(firstParagraph);
  const first150 = firstParagraph
    .replace(/[^\w\s\.,!\?\n]+/gm, '')
    .substring(0, 150);
  // console.log(first150);
  const excerpt = first150.replace(/[\w\.?]+$/m, '').trim() + ' ...';
  console.log(excerpt);
  return excerpt;
}
---

<BaseLayout seoTitle="Blog" title="Blog">
  <section class="posts__list">
    {
      posts.map((post) => (
        <div class="post__item">
          <div class="header">
            <h2>
              <a href={`/blog/${post.id}`}>{post.data.title}</a>
            </h2>
            <span class="published">
              Published on: <Time time={post.data.date} />
            </span>
          </div>
          <p class="excerpt">
            {createExcerpt(post)} <a href={`/blog/${post.id}`}>Read more</a>
          </p>
        </div>
      ))
    }
  </section>
</BaseLayout>

<style>
  .posts__list {
    max-width: 70ch;
  }

  .post__item {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3rem;

    .published {
      font-size: 0.8rem;
      color: #999;
    }
  }
  .excerpt {
    a {
      text-decoration: underline;
      color: #999;
      font-size: 0.8rem;
    }
  }
</style>
