---
import { render } from 'astro:content';
import Time from '../../components/Time.astro';
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort((a, b) => {
  return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
});




console.log(posts[1].body);
function createExcerpt(post:any) {
  const firstParagraphRaw = post.body.match(/^\w+[\w\W]+/m)[0];
  const  excerpt = firstParagraphRaw.replace(/[^\w\s\.,\!\?\n]+/mg, '').substring(0, 100).replace(/[\w+\.?]$/m, '').trim() + ' ...';
  return excerpt;

}
createExcerpt(posts[1]);
---

<Layout>
  <main>
    <h1>Blog</h1>

    <div class="posts__list">
     

      {
        posts.map((post) => {
          return (
            <p class="post__item">
              <a href={`/blog/${post.id}`}>{post.data.title}</a>
              <span class="published">
                Published on: <Time time={post.data.date} />
              </span>
            </p>
            <p class="excerpt">{createExcerpt(post)} <a href={`/blog/${post.id}`}>Read more</a></span></p>
          )
        })
      }
    </div>
  </main>
</Layout>

<style>
  main {
    padding: 2rem;
  }
  .posts__list {
    max-width: 500px;
  }
  .header,
  .post__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .published{
      font-size: .8rem;
    }
  }
  .header {
    font-weight: bold;
  }
  .excerpt {
    font-size: .8rem;
    a{
      display: block;
    }
  }
</style>
