---
import Time from '../../components/Time.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import { createExcerpt } from '@lib/utils';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<BaseLayout seoTitle="Blog" title="Blog">
  <section class="posts__list">
    {
      posts.map((post) => (
        <div class="post__item">
          <div class="header">
            <h2>
              <a href={`/blog/${post.id}`}>{post.data.title}</a>
            </h2>
            <span class="published">
              Published on: <Time time={post.data.date} />
            </span>
          </div>
          <p class="excerpt">
            {createExcerpt(post)} <a href={`/blog/${post.id}`}>Read more <span class="brackets">&#187;</span></a>
          </p>
        </div>
        <div class="separator">
          <div class="line"></div><span>*</span><div class="line"></div>
        </div>
      ))
    }
  </section>
</BaseLayout>

<style>
  .posts__list {
    max-width: 70ch;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3rem;

    .published {
      font-size: 0.8rem;
      color: #999;
    }
  }
  .excerpt {
    a {
      color: #999;
      font-size: 0.8rem;
      text-decoration: underline;
    
      &:hover{
        color: inherit;
      }
    }
  }
  .separator {
    margin: 2rem auto 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    .line {
      height: 1px;
      background-color: #999;
      width: 30%;
    }
    span{
      transform: translateY(.2rem);
    }
    &:last-of-type{
      display: none;
    }
  }

</style>
